<html>
<head>
 <link rel="shortcut icon" href="">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/index/index.js') }}"></script>  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">  
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>        
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>
  <form>   
      <div>
        Merhaba EST Software, Python, Bursa<br><br><br>
     </div>  
     <div>       
       <button id="loginpagebtn" onclick="window.location.href='http://localhost:4000/SingUp'" type="button" value="Log In">Login</button>
     </div>     
  </form>
</body>
</html>
